@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;

}
nav {
  top: 0;
  position: fixed;
  left: 0;
  width: 100%; 
  height:80px ;
  padding: 0;  
  background: rgba(186, 94, 46, 0.5);
  box-sizing: border-box;
  border-bottom: 1px;
}
nav .header-logo {
   font-size: 30px; 
   line-height: 75px;
   float: left;
   font-weight: bold;
   font-family:'Libre Baskerville', serif;
   color: white;
   
}
nav .header-logo a {
    text-decoration: none;
    color: white;
}
nav .header-logo a:hover {
    color: black;
    text-decoration: underline 1px;

}
nav ul {
    float: right;
    margin: 0;
    padding:0;
    list-style: none;
    display: flex;

}
nav ul li a{
    text-decoration: none;
    padding: 12px 30px;
    font-size: 17px;
    line-height: 75px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    
    

}
nav ul li a:hover {
    color: black;
    text-decoration: underline 1px;
}